/* app.scss
 * 변수나 함수등의 앞에 와야만 하는것들
 * 
*/

$b-color: rgba(0, 0, 0, 0.87); //기본 검은색 글씨 색
$border-color: #E0E0E0; //일단 보더 색
$border: 1px solid $border-color; //보더 지정
$app-color: #48C3C3; //앱바등 주로 사용할 컬러 

/* 1이가장 밝은 흰색 */
$w-color-3:#EEEEEE; //Nav
$w-color-2:#F5F5F5; //appbar
$w-color-1:#fafafa; //section, body
$link-color-hover:#2979ff; //link color hover시
$link-color:#03A9F4; //링크 임을 나타내는 


// 기본 크기 650 인자 넣으면 해당 인자 이하 크기일때 발동
@mixin bp-view($view-point: 650px) {
  @media only screen and (max-width: $view-point) {
    @content;
  }
}

//인쇄시 불필요 요소 제거 및 색생 변경
@mixin bp-print {
  @media print {
    @content;
  }
}

//meterial box shadow
@function top-shadow($depth) {
  $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
  $blur: nth(1.5 3 10 14 19, $depth) * 4px;
  $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

  @return 0 $primary-offset $blur $color;
}

@function bottom-shadow($depth) {
  $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
  $blur: nth(1 3 3 5 6, $depth) * 4px;
  $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

  @return 0 $primary-offset $blur $color;
}

@mixin shadow($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);  
  }
}

