/* ria.scss
 * RIA frame work 
 * 메테리얼 컨셉
*/

/*
CSS 이벤트 등록
is-active

wrap이 상위 그안에 또 무언가 감싸야 할떄 container 또 감싸야하면 content 
*/

.hide {
  display: none;
}

.show {
  display: block
}

//가운데 정렬
.center {
  text-align: center;
}

//footer
.ria-section ~ .ria-footer { //섹션과 같은 레벨 푸터 즉 바디 안에
  background-color: #191919;
  width: 100%;
  height: 96px;
  padding-left: 240px;
  text-align: center;
  box-sizing: border-box;
  line-height: 96px;

  > a{
    color:$w-color-1;
    margin: 2px;
    font-size: 1.2rem;
    &:hover {
      color:gray;
    }
  }
  @include bp-view {
    padding: 0;
  }
}


//tabs
.ria-tabs {
    display: block;
    width: 100%;
  
  .ria-bar {
    height: 2.1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #7D7C7C;
  }

  .ria-tab {
    border: none;
    padding: 0 24px 0.5rem 24px;
    position: relative;
    text-decoration: none;
    line-height: 2rem;
    text-align: center;
    overflow: hidden;
    float: left;
    box-sizing: border-box; // padding도 크기에 포함되서 width 잘먹힌다
    &.is-active {
      border-bottom: 3px solid $app-color;
      //padding-bottom: 4px; 안먹혀
      //box-sizing: border-box; 안먹혀
    }
  }

  .ria-pannel {
    display: none;
    margin-top: 2rem;

    &.is-active {
      display: block;
    }
  }
}


//ID로 지정해도된다 nav 발동시 어둡게 하는 효과만 줄것이니
#ria-obfuscator {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 200;
    visibility: hidden;
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: ease;

    &.is-active {
      background-color: rgba(0,0,0,.5);
      visibility: visible;
    }
}

/*
 * Card
 *
*/
.ria-card{
    margin: 0 auto;
    max-width: 728px + 36*2px; /* ft */
    background-color: $w-color-1;
    border-radius: 2px;
    animation: display 0.2s ease; //카드도 뿅하고 나타나게 ㄱ 
    @include shadow(2)
    @include bp-view {
        min-height: 100%;
    }
    /* > 이거 뺴면 header 자식이고 나머진 다 자손으로 됨 ㅇㅇ  */
    > .ria-container {
      padding: 2rem;
      @include bp-view {
        padding: 1rem;
      }
    }

    .ria-title {
      color: $w-color-1;
      font-size: 1.3rem;
      font-weight: bold;
      line-height: 2.5rem; //타이틀과 설명이나 본문등과 간격을 위해 
    }

    .ria-description {
      font-size: 0.8rem;
    }
}


//리스트를 카드 형태로
.ria-cards {
    width: 45%;
    display: inline-block;
    margin-left: 1rem;
    margin-bottom: 2rem;
    background-color: #fff;
    transition: box-shadow 0.3s; //선택시 그림자 진하게 딜레이
    border-radius: 2px;
    @include shadow(2)
    animation-name: display;
    animation-duration: 0.7s;

    /* 갤럭시 탭에 문제 떔에  */
    @include bp-view(690px) { 
    width: 95%;
    }

    /* 호버시 그림자 좀더 진하게 */
    &:hover {
     @include shadow(4)
    }
    /* 카드 하나가 통째로 링크 */
    > a {
      &:hover {
        text-decoration: none;
      }

      /* 대표이미지 */
      > img{
        width: 100%;
      }

      //포스트제목
      > .ria-title {
        padding: 0.65rem;
        box-sizing: border-box;
        border-bottom: $border;
      }

      //날짜
      > .ria-description{
        text-align: right;
        color: #D2CBCB;
        padding: 0.5rem;
        box-sizing: border-box;
        font-size: 0.8rem;
      }
    }
}

//좌측 네비 게이션
.ria-nav {
  background-color: $w-color-3;
  width: 240px;
  position: fixed;
  top:0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1900;
  height: 100%;
  transition-duration: .3s; //시간을 주어서 슬라이딩 효과
  transition-timing-function: ease;
  transition-property: transform;

  @include bp-view { 
    transform: translateX(-250px); //숨기기
  }
  @include bp-print {
    display: none;
  }

  //클래스 다중 선택자 발동
  &.is-active{
    transform: translateX(0); //보이기
    transform-style: preserve-3d; //그닥 필요 x
    will-change: transform; //그닥 필요 x
  }

  // 푸터 하단 고정을 위해 감싸고 패딩  반드시 자식
  > .ria-wrap {
    min-height: 100%;
    position: relative;
    padding-bottom: 96px;
    box-sizing: border-box;

    //반드시 wrap 자식
    > .ria-header{
      padding-top: 1rem;
      box-sizing: border-box;
      background-color: $app-color; //앱컬러 배경 사용

      > img {
        border-radius: 50%;
        margin-left: (240px-64px)/2;
        width: 64px;
        height: 64px;
      }

      > a {
        display: block;
        padding: 1rem;
        color: $w-color-1;
        //아래 호버 액티브는 믹스인 가능하겠네 
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
        &:active {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
    }

    //반드시 wrap 자식
    > .ria-footer {
      border-top: $border;
      height: 96px;
      padding: 24px;
      position: absolute;
      bottom: 0;
      left: 0;
      box-sizing: border-box;
      width: 240px;
      
      a {
        color: $link-color;
        display: inline-block;
        &:hover {
          color: $link-color-hover;
          text-decoration: underline;
        }
      }
    }
  }

}


/*
 * Text field
 *
*/

  //input 태그에 할당 
  .ria-textfield { 
    > input {
      position: relative;
      display: block;
      box-sizing: border-box;
      border-bottom: $border;
      padding: 5px 5px 5px 0;
      width: 100%;
      background: none;
      color: inherit;
      font-size: 1.3rem;
      transition: border-color .2s;
      /* 포커스 상태일떄 다음에있는 형제 label 태그 실선 */
      &:focus {
        border-color: $app-color;
        border-width: 2px;
        padding: 5px 5px 4px 0;
      }  
    }

    &.ria-expandable {
      display: none;
      max-width: 0px;
      input {
        &:focus {
          border-color: $w-color-1;
        }
      }
      &.is-active { //acive 발동시 길이 늘린다
        transition: all .3s ease; //보류 JS랑 같이 봐야 겠네
        display: inline-block;
        max-width: 170px;
      }
  }
}
 
/* layout section */
/* fixed 된 menu와 구분 */
.ria-section {
  position: relative;
  margin-left: 240px;
  margin-top: 4rem;
  box-sizing: border-box;
  background-color: $w-color-3; //나도 모르겠다ㅋㅋㅋㅋ

  @include bp-view {
    margin-left: 0;
  }
  /* 가운데 정렬을 위해 */
  .ria-wrap {
    max-width: 800px;
    margin: 0 auto;
    padding: 4rem 1rem 12rem 1rem;
  }
}

/* appbar */
//이거 프레임워크 화 필요 ㅇㅇ
.ria-appbar{
  min-width: 100%;
  z-index: 30;
  height:64px;
  line-height: 64px;
  font-size: 1.5rem;
  @include shadow(1)
  position: fixed;
  top:0;
  left: 0;
  background-color: #48C3C3; //컨셉 컬러로 변수 지정가능?
  >.ria-wrap {
    position: relative;
    
    .ria-right {
      float: right;
      margin-right: 1rem;

      .ria-container {
        float: inherit;
      }

    }
  }

  .ria-title{
    margin-left: 280px;
    display: inline-block;
    > a {
      color: $w-color-1;
    }
    @include bp-view {
      margin-left: 20px;
    }
    &.is-active { //검색창 확장시 숨김 
      display: none;
    }
  }

  .ria-toggle {
    margin-left: 2px;
    display: none;
  }

  @include bp-view { 
    height: 56px;
    padding-left: 5px;
    margin-left: 0;
    line-height: 56px;

    .ria-toggle {
      display: inline-block;
    }
  }
}



 //버튼 동그란거 네모난거 따로따로 ㄱㄱ
 .ria-btn {
  line-height: normal; // IE에서 이것떔에 렌더링 꺠짐 버튼 어짜피 앱솔이라 ㄱㅊ
  background: inherit;
  border-radius: 50%;
  padding: 2px;
  font-size: 1.5rem;
  color: $w-color-1;
  transition: background-color 0.3s;
  &:hover{
    background-color: rgba(0,0,0,0.1);
  }
  &:active{
    background-color: rgba(0,0,0,0.3);
  }
}

/* nav에 라코디언 루트 > 마스터 > 서브 */
.ria-nav-root {
  list-style: none;
  //모든 클릭요소 hover지정 
  a {
    transition: background-color 0.3s;
    &:hover{
      background-color: rgba(0,0,0,0.1);
    }
  }
}

.ria-nav-master {
  list-style: none;
  position: relative;
  > a {
    display: block;
    padding: 12px 46px 12px 12px;
    font-size: 14px; //가로폭고정이니 폰트크기도 고정 ㄱ
    font-weight: bold;
  }
  > button {
    position: absolute;
    right: 0;
    top: 0;
    color: inherit;
    font-size: 16px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    transition: 0.3s ease;
  }

  > .ria-nav-sub {
    list-style: none;
    //height으로 100%는 안되니 max-height로 한다 
    //이떄도 퍼센데이지나 auto는 안되고 절대 가질수없는 숫자로 하는게 좋다
    transition: max-height .3s ease; 
    max-height: 0px;
    overflow: hidden;
    > li {
      list-style: none;
      > a {
        display: block;
        padding: 12px 12px 12px 28px;
        font-size: 14px; //가로폭고정이니 폰트크기도 고정 ㄱ
      }
    }
  }

  //펼치기
  &.is-active {
    & > ul {
      max-height: 1200px;
      overflow: visible;
    }
    button {
      //버튼 클래스 변경이 아니라 회전으로 UI 향상
      transform: rotate(180deg);
    }

  }

  
}




//포스트 본문이자 마크다운 문법에 최적화된 레이아웃을제공 포스팅할떄마다 넣어라
.ria-markdown {

  h1, h2, h3, h4, h5, h6, p, blockquote, img, hr, pre {
    display: block;
    margin-bottom: 2rem;
    white-space: normal;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 2rem;
  }

  strong, small {
    display: inline-block;
   }

  hr {
    color: $border-color;
   }

 img {
    @include shadow(2);
  }

  h1, h2, h3, h4, h5, h6 {
    text-align: start;
  }

  code, kbd, pre, samp {
      font-family: Consolas,monospace,"NotoSansKR";
  }

  //code를 atom이 알아서 특문 치환해줘서 pre감싸기 필요없다
  code, kbd {
    border-radius: 3px;
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
  }

  kbd {
    color: $w-color-1;
    background-color:: $b-color;
  }

  code {
    color: $b-color;
    background-color: $w-color-3;
  }

  a {
      color: $link-color;
      display: inline-block;
    &:hover {
      color: $link-color-hover;
      text-decoration: underline;
    }
  }

  ul, ol {
    margin: 0 0 1.5rem 2rem;
    
    //밑에 또 있을때 다중 리스트
    ul {
      margin: 0 0 0 1rem;
      list-style: none;
      > li:before {
        content: "- " !important; //안하면 ol밑에 ul넣어도 넘버링된다
        margin: 0 0.2rem 0 0;
      }
    }

    li {
      line-height: 1.5rem;
    }
  }

  ul {
    list-style-type: disc;    
  }

  //넘버링은 1.1 1.1.1 1.2.2 이렇게 표시하기위해
  ol {
    margin: 0;
    list-style-type: none;
    counter-reset: item;
    > li {
      display: table;
      counter-increment: item;
      margin: 0;
      &:before {
        content: counters(item, ".") ". ";
        display: table-cell;
        padding-right: 0.6rem;    
      }
    }
    li li:before {
     content: counters(item, ".") " ";
    }
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  blockquote {
    border-left: 3px solid $app-color;
    border-left-width: 10px;
    background-color: $w-color-2;
    padding: 0.7rem 1rem;
    border-radius: 2px;
    font-size: 0.8rem;
    color: rgba(0,0,0,0.6);
    
    p {
      margin: 0;
    }
  }

  //추가 적으로 로드되는 컨텐츠를 아래로 밀어준다.
  > div{
    margin-bottom: 2rem;
  }

  //살짝 감싸주는 블록
  > .wrap {
    color: $b-color;
    background-color: $w-color-3;
    border-radius: 2px;
    padding: 1rem;
    margin-bottom: 2rem;

    //margin 없애기
    > pre {
      margin: 0;
    }

    //code로 감쌀때 줄바뀜만 조정
    //code는 특수문자 변환에만 사용하는거다
    > code {
      white-space: pre-line;
      display: block;
      font-size: 0.9rem;
    }

    //진정한 인용구
    //atom 이 랜더링하는 blockque안에 p 있을떄를 가정하고 하는것
    blockquote {
      background: transparent;
      border: 0px;
      margin-bottom: 0px;
      padding: 0px;
      text-align: center;
      font-size: 1rem;

      &:before {
        content: '\e82b';
        font-family: "icon";
        margin-right: 1rem;
        font-size: 1rem;
        top: -0.5rem;
        position: relative;
      }
      &:after {
        content: '\e82c';
        font-family: "icon";
        margin-left: 1rem;
        font-size: 1rem;
        top: -0.5rem;
        position: relative;
      }
      > p {
        display: inline-block;
      }
    }
  }

  //테이블 color scripter랑 충돌나니 > 붙이자
  > table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.85rem;
    margin: 0 auto 2rem; // 가운데 정렬하면서 아래 margin
    border: 1px solid $border-color;

    th {
      text-align: center !important;
      font-weight: bold;
      padding: 0.5rem 1rem;
    }

    tbody {
      tr {
        transition: background .3s ease;
        &:hover {
          background: $border-color;
        }    
      }
    }

    td {
      padding: 0.5rem 1rem;
      border-top: 1px solid $border-color;
    }
  }
}


//티스토리 자바스크립트 비활성화나 브라우저 걸림돌일떄 쓸꺼임
.ria-modal {
  background-color: #f9bdbb; //임시 warn 같은느낌 ㅇㅇ
  color: $b-color;
  padding: 10px;
  display: inline-block;
  z-index: 9999999;
  position: fixed;
  @include shadow(5);
  left: 20%;
  top: 20%;
  padding: 100px;

  .ria-title {
      font-weight: bold;
      font-size: 2.0rem;
      padding-bottom: 40px;
  }
}  

/* Hierarchical timing animation */
@keyframes display {
  0% {
    display: none;
    opacity: 0;
  }
  20% {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.ria-dropdown {
  list-style: none;
  line-height: 1rem;
  border-radius: 2px;
  position: absolute;
  right: 2rem;
  top: 3rem;
  transition: all 0.2s ease;
  transform: scale(0);
  opacity: 0;
  transform-origin: top right; //origin은 sacle되는 방향이다
  background-color: $w-color-3;
  font-size: 1rem;
  text-align: left;
  @include shadow(5);

  //is-active
  &.is-active {
    transform: scale(1);
    opacity: 1;
  }

  > li {
    display: block;
    width: 100%;
     > a, > button {
      width: 100%;
      padding: 1rem;
      display: inline-block;
      white-space: pre;
      box-sizing: border-box;
      &:hover {
        background: rgba(0,0,0,0.1);
      }
      &:active {
        background: rgba(0,0,0,.2);
      }

      > i {
        margin-right: 1rem;
      }
    }
  }
}