/* tistory.scss
 * 티스토리 내부 치환자 및 내부 CSS 변경을 위한 파일
 * 태그, 툴바, 다른 카테고리등
*/

#tistorytoolbarid{
  display: none;
}

/* 가장 많이 태그된것 */
.cloud1 {
  color: rgba(0, 0, 0, 0.97);
  background-color: #2196F3; 
  transform: scale(0);
  animation: display 0.7s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}

.cloud2 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #42A5F5;
  transform: scale(0);
  animation: display 0.7s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation-delay: .4s;
}

.cloud3 {
  color: rgba(0, 0, 0, 0.77);
  background-color: #64B5F6;
  transform: scale(0);
  animation: display 0.7s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation-delay: .8s;
}

.cloud4 {
  color: rgba(0, 0, 0, 0.67);
  background-color: #90CAF9;
  transform: scale(0);
  animation: display 0.7s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation-delay: 1.2s;
}

.cloud5 {
  color: rgba(0, 0, 0, 0.57);
  background-color: #BBDEFB;
  transform: scale(0);
  animation: display 0.7s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation-delay: 1.6s;
}

//본문 아래 태그들 
#post-tags {
  > a {
    padding: 5px 10px;
    background-color: #ECEFF1;
    border-radius: 10%;
    font-size: 0.7rem;
    margin-right: 5px;
    transition: all 0.3s; //그림자 두드러지게 타이밍 주기
    @include shadow(1);
    
    &:before {
      content: "#";
    }
    &:hover {
      @include shadow(2);
    }
  }
}

//티스토리 카테고리 다른글
.another_category {
  @include shadow(1);
  border: 0;

  h4 {
    color:#F96D6D !important;
  }

  a {
    &:hover {
      color:$link-color-hover !important;
    }
  }

  tr {
    float: left;
    width: 50%;
    //모바일일시 2줄로 만들기
    white-space: nowrap; // 가로폭 줄어도 고정
    overflow: hidden; //글자 길어서 가려진거 숨기기
    padding: 0 1rem; //가로폭 좁을때 구분짓기위해
    box-sizing: border-box; //패딩넣어도 width 계산 똑같게
    @include bp-view {
      width: 90%;
    }
  }

  //날짜 지우기
  td {
    display: none;
  }

  //댓글수 지우기
  span {
    display: none;
  }
}

//파일 첨부 기능 p에다가 더해야 된다
.file {
  font-size: 1.5rem;
  text-align: center;

  > a {
    padding: 10px;
    border-radius: 2px;
    @include shadow(2);
    transition: box-shadow .3s;
    &:hover {
      color: $link-color-hover;
      text-decoration: none;
      @include shadow(4);
    }    
    &:before{
    font-family: icon;
    content: '\e800';
    margin-right: 5px;
    border-right: 1px solid;
    padding-right: 5px;
    }  
  }
  
}

#paging {
  margin: 2rem 0;
  text-align: center;
  a {
    opacity: 0.6;
    margin: 0 2rem;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 8px;
    color: $b-color;
    &:hover {
      color:$link-color-hover;
      @include shadow(2);
    }
  }

  //클릭안될땐 비활성화처럼 보이게
  .no-more-prev, .no-more-next {
    color: rgba(0,0,0,0.3);
    &:hover {
      color: rgba(0,0,0,0.3);
      @include shadow(0);
      background-color: transparent;
    }
  }
}


//이미지 자막 티스토리 자체 제공
.cap1 {
  font-style: italic;
  color: gray;
  margin-top: -1.4rem;
  //text-align: center; 상위 p에서 상속됨
}

//글소유자 용 표시화면 
.owner {
  margin-right: 2rem;
  color: $b-color !important;
  &:hover {
    @include shadow(3);
    padding: 0.5rem;
    border-radius: 2px;
  }
}

//정사각형 사이즈 조절
.adkit {
  //PC 일시
   ins {
    width:336px !important;
    height:280px !important;
    display: inline-block !important;
  }

  //모바일
 @media only screen and (max-width: 400px){
    > ins {
      width:300px !important;
      height:250px !important;
      display: inline-block !important;
    }

  }

  //nav 없어지고 컨텐츠만 넓은 폭일떄
 @media (min-width: 401px) and (max-width: 650px){
    > ins {
      width:336px !important;
      height:280px !important;
      display: inline-block !important;
    }
  }

  //태블릿인데 컨텐츠 영역은 작을떄
 @media (min-width: 651px) and (max-width: 728px){
    > ins {
      width:300px !important;
      height:250px !important;
      display: inline-block !important;
    }
  }


}

//본문에 넣는거는 ad1과 ad2로 지정


//본문 상단 TOC와 같이
#ad-1 {
//포스팅된거좀 정리되면 TOC 해봐서 사이즈 css 조절하고 해야됨ㅇㅇ
//모바일시 목차먼저 그다음 광고 그다음 말들 
//둘다 보여줄수있으면 둘다 상단에 나란히 배치 ㄱ
  text-align: center;
  margin: 3rem 0;
}

//본문 중간 무조건 사각형 그거 
#ad-2 {
//http://nubiz.tistory.com/424 참고
  text-align: center; //광고 가운데 정렬
  margin: 3rem 0;
}

//태그와 댓글 사이
#ad-3 {
  text-align: center;
  margin: 1rem 0;
}


//color-scripter 로 하이라이팅할떄 최적화
//font 태그로 반환하는게 가장 용량적다
.ria-markdown {
  .colorscripter-code {
    font-size: 0.8rem;
    table {
      display: block;
      overflow: auto;
      max-height: 600px;
    }
  }
}


//그림 인라인 요소 큰수식같은경우에는 인라인 클래스뺸다
.inline {
  display: inline-block !important;
  margin: 0 !important;
  box-shadow: none !important;
  vertical-align: middle !important;
}