/*
  style.scss
  RIA를 활용해서 CSS 코드를 덧붙이다고 가정할때의 코드들 
  sticky footer, 글자크기등
*/


//붙이는 순서대로 최종 결과물이 만들어 진다.
@import "scss/app","scss/ria","scss/tistory";


// 모바일 배려
section {
  min-height: 250px;
}

/* sticky footer를 위해  
 * body를 아래로 밀고 그자리에 고정으로 푸터를 박는 방식
*/
html {
  position: relative;
  min-height: 100%;
}

body {
  //margin: 0 0 96px 0; footer의 크기 만큼 지정 인데 갑자기 안되네?
  background-color: $w-color-3;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
}



//이것도 클래스로 묶고 아닌건 고정이나 원본 크기로 만드는게... 
img {
  max-width: 100%;
}

/* 웹폰트 불러오기 */
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: normal;
    src: url(./images/NotoSansKR-DemiLight.woff) format('woff');
}

/* 초기화 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,
 samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset,
  form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; }

html, body { 
  font-size:16px; 
  color: $b-color; 
  overflow-x: hidden;
  line-height: 1.5rem;  //16px라 가정하면 24px됨
  font-family: "NotoSansKR", malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, Microsoft NeoGothic, Droid sans, sans-serif;
}

img, fieldset { 
  border:0 
}

a {
  color: $b-color; text-decoration:none 
}

a:hover {
  cursor: pointer;
}

a:hover, a:active, a:focus { 
  text-decoration:none 
}

input, button, textarea {
  border: 0; outline: none;
  font-family: "NotoSansKR", malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, Microsoft NeoGothic, Droid sans, sans-serif;
}

button:hover {
  cursor: pointer;
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 1.7rem;
}

h3{
  font-size: 1.3rem;
}

h4{
  font-size: 1rem;
}

strong {
  font-weight: bold;
}

small {
  font-size: 0.8rem;
}

em {
  font-style: italic;
}



/* 작은 화면은 글자 크기 감소 */
html, body {
   @include bp-view(420px) {
    font-size: 14px;
  }
}


/* 검색폼 */
#search {

}






/* 카태고리 검색결과 */
#counter {
  margin: 0 0 50px 40px;
}


/* 중간에 위치 아 빢침 ㅋcenter */
#password {
  padding: 10px;
  > input {
    max-width: 200px; //가운데 정렬 위한 가로 제한
    margin: 1rem auto; //가운데 정렬
  }
}

/* 게시글 더 로드 하는 버튼 */
#more {
  margin-top: 4rem;
  text-align: center;

  > hr{
    width: 70%;
    border: $border;
    margin-bottom: 2rem;
  }

  > button {
    font-size: 2.5rem;
    color: #48C3C3;
    padding: 0.5rem 1rem;
    background: transparent;
    line-height: inherit;
    transition: box-shadow 0.3s;
    @include bp-view {

    } 
    &:hover{
     @include shadow(3)
    }
  }

}


.tab {
  font-size: 1.5rem;
  width: 50%; /* 댓글과 공유 2개니 50%로 2개 꽉차게 지정 */
}

/* 본문 헤더 영역  */
#post-header {
 background-color: #FF9800; 
 color:$w-color-1;
 a {
  &:hover {
    color: $b-color;
  }
    color: $w-color-1;
 }
}

/* guestbook about */
#about {
  margin-bottom: 3rem;
  > header {
    background-color: #00BCD4;
  }
}

/* 보호글 */
.secret {
  > header {
    background-color: #F50057;
    /* 포스트 본문에도 활용 가능할듯  */
      a {
      color: $w-color-1;
      font-size: 1.3rem;
      font-weight: bold;
    }
  }
}

/*tags tile wrapper로 작성하자 */
#dashboard {
    > header {
      background-color: #2196F3;
    }

  .ria-tile {
    display: inline-table;
    li {
      list-style: none;
      display: inline-table;
      box-sizing: border-box;
      margin: 0;
      padding: 0px;
      > a {
        padding: 8px;
        display: inline-table;
        &:hover{
          text-decoration: none;
          color:$w-color-1;
        }
      }
    }
  }
}


// http://osvaldas.info/elegant-css-and-jquery-tooltip-responsive-mobile-friendly
// 툴팁 그대로 쓰자 그냥

abbr {
  border-bottom: 1px dotted $b-color;
}


//몸체
#tooltip
{
  text-align: left;
  color: #F5F5F5;
  background: #6F6F6F;
  position: absolute;
  z-index: 9999; //최상위가 되어야 한다.
  padding: 4px 10px;
  border-radius: 3px;
  white-space: normal;
  font-size: 0.8rem;

  //화살표
  &:after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #6F6F6F;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
  }

  //화살표를 위한 클래스
  &.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #6F6F6F;
    top: -20px;
    bottom: auto;
  }

  &.left:after {
    left: 10px;
    margin: 0;
  }

  &.right:after {
    right: 10px;
    left: auto;
    margin: 0;   
  }

}
 
/*공유 탭*/
#share {
  font-size: 2rem;
  text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 2rem 0;
  white-space: nowrap; //이거하면 사이즈가 줄어도 그대로 유지되어 줄바꿈 x

  
 a[data-share='facebook'] {
    color:#3b5998;
    &:hover {
      color: gray;
      cursor: pointer;
    }
  }

  a[data-share='twitter'] {
    color:#4099ff;
    &:hover {
      color: gray;
      cursor: pointer;
    }
  }

/*   a[data-share='facebok'] {
    color:#3f729b;
    인스타그램은 아직 공유기능이 없다
  } */

  a[data-share='googleplus'] {
    color:#dc4e41;
    &:hover {
      color: gray;
      cursor: pointer;
    }
  }

  a[data-share='linkedin'] {
    color:#007bb5;
    &:hover {
      color: gray;
      cursor: pointer;
    }
  }

  a[data-share='print'] {
    color:#3b5998;
    &:hover {
      color: gray;
      cursor: pointer;
    }
  }
}

/* 폰텔로 테스트용 폰트  */

@font-face {
  font-family: 'icon';
  src: url('./images/icon7.woff?38823318') format('woff');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  opacity: .8; 
 
  font-variant: normal;
  text-transform: none;
 
  line-height: 1em;
 
  margin-left: .2em;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
 
.icon-download-alt:before { content: '\e800'; } /* '' */
.icon-github-circled:before { content: '\e801'; } /* '' */
.icon-bitbucket:before { content: '\e802'; } /* '' */
.icon-youtube-play:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-facebook-official:before { content: '\e805'; } /* '' */
.icon-slideshare:before { content: '\e806'; } /* '' */
.icon-skype:before { content: '\e807'; } /* '' */
.icon-gplus:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-menu:before { content: '\e80a'; } /* '' */
.icon-ellipsis:before { content: '\e80b'; } /* '' */
.icon-ellipsis-vert:before { content: '\e80c'; } /* '' */
.icon-mail:before { content: '\e80d'; } /* '' */
.icon-print:before { content: '\e80e'; } /* '' */
.icon-pencil:before { content: '\e80f'; } /* '' */
.icon-lock:before { content: '\e810'; } /* '' */
.icon-cancel:before { content: '\e811'; } /* '' */
.icon-down-open:before { content: '\e812'; } /* '' */
.icon-left-open:before { content: '\e813'; } /* '' */
.icon-right-open:before { content: '\e814'; } /* '' */
.icon-up-open:before { content: '\e815'; } /* '' */
.icon-copyright:before { content: '\e816'; } /* '' */
.icon-chat-empty:before { content: '\e817'; } /* '' */
.icon-share:before { content: '\e818'; } /* '' */
.icon-language:before { content: '\e819'; } /* '' */
.icon-up:before { content: '\e81a'; } /* '' */
.icon-wrench:before { content: '\e81b'; } /* '' */
.icon-th:before { content: '\e81c'; } /* '' */
.icon-block:before { content: '\e81d'; } /* '' */
.icon-linkedin-squared:before { content: '\e81e'; } /* '' */
.icon-instagram:before { content: '\e81f'; } /* '' */
.icon-help-1:before { content: '\e820'; } /* '' */
.icon-stackoverflow:before { content: '\e821'; } /* '' */
.icon-folder-open-empty:before { content: '\e822'; } /* '' */
.icon-folder-empty:before { content: '\e823'; } /* '' */
.icon-folder-open:before { content: '\e824'; } /* '' */
.icon-folder:before { content: '\e825'; } /* '' */
.icon-star:before { content: '\e826'; } /* '' */
.icon-star-empty:before { content: '\e827'; } /* '' */
.icon-heart:before { content: '\e828'; } /* '' */
.icon-heart-empty:before { content: '\e829'; } /* '' */
.icon-ok:before { content: '\e82a'; } /* '' */
.icon-quote-left:before { content: '\e82b'; } /* '' */
.icon-quote-right:before { content: '\e82c'; } /* '' */
.icon-code:before { content: '\e82d'; } /* '' */
.icon-info:before { content: '\e82e'; } /* '' */
.icon-user:before { content: '\e82f'; } /* '' */
.icon-info-circled:before { content: '\e830'; } /* '' */
.icon-help-circled:before { content: '\e831'; } /* '' */
.icon-attention-circled:before { content: '\e832'; } /* '' */
.icon-attention:before { content: '\e833'; } /* '' */
.icon-bookmark-empty:before { content: '\e834'; } /* '' */
.icon-bookmark:before { content: '\e835'; } /* '' */
.icon-flag:before { content: '\e836'; } /* '' */
.icon-flag-empty:before { content: '\e837'; } /* '' */
.icon-gplus-squared:before { content: '\e838'; } /* '' */
.icon-cog:before { content: '\e839'; } /* '' */
.icon-cog-alt:before { content: '\e83a'; } /* '' */
.icon-layout:before { content: '\e83b'; } /* '' */
.icon-th-thumb:before { content: '\e83c'; } /* '' */
.icon-th-large:before { content: '\e83d'; } /* '' */