@charset "UTF-8";
/*
  style.scss
  RIA를 활용해서 CSS 코드를 덧붙이다고 가정할때의 코드들 
  sticky footer, 글자크기등
*/
/* app.scss
 * 변수나 함수등의 앞에 와야만 하는것들
 * 
*/
/* 1이가장 밝은 흰색 */
/* ria.scss
 * RIA frame work 
 * 메테리얼 컨셉
*/
/*
CSS 이벤트 등록
is-active

wrap이 상위 그안에 또 무언가 감싸야 할떄 container 또 감싸야하면 content 
*/
.hide {
  display: none;
}

.show {
  display: block;
}

.center {
  text-align: center;
}

.ria-section ~ .ria-footer {
  background-color: #191919;
  width: 100%;
  height: 96px;
  padding-left: 240px;
  text-align: center;
  box-sizing: border-box;
  line-height: 96px;
}

.ria-section ~ .ria-footer > a {
  color: #fafafa;
  margin: 2px;
  font-size: 1.2rem;
}

.ria-section ~ .ria-footer > a:hover {
  color: gray;
}

@media only screen and (max-width: 650px) {
  .ria-section ~ .ria-footer {
    padding: 0;
  }
}

.ria-tabs {
  display: block;
  width: 100%;
}

.ria-tabs .ria-bar {
  height: 2.1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #7D7C7C;
}

.ria-tabs .ria-tab {
  border: none;
  padding: 0 24px 0.5rem 24px;
  position: relative;
  text-decoration: none;
  line-height: 2rem;
  text-align: center;
  overflow: hidden;
  float: left;
  box-sizing: border-box;
}

.ria-tabs .ria-tab.is-active {
  border-bottom: 3px solid #48C3C3;
}

.ria-tabs .ria-pannel {
  display: none;
  margin-top: 2rem;
}

.ria-tabs .ria-pannel.is-active {
  display: block;
}

#ria-obfuscator {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
  visibility: hidden;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: ease;
}

#ria-obfuscator.is-active {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
}

/*
 * Card
 *
*/
.ria-card {
  margin: 0 auto;
  max-width: 800px;
  /* ft */
  background-color: #fafafa;
  border-radius: 2px;
  animation: display 0.2s ease;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  /* > 이거 뺴면 header 자식이고 나머진 다 자손으로 됨 ㅇㅇ  */
}

@media only screen and (max-width: 650px) {
  .ria-card {
    min-height: 100%;
  }
}

.ria-card > .ria-container {
  padding: 2rem;
}

@media only screen and (max-width: 650px) {
  .ria-card > .ria-container {
    padding: 1rem;
  }
}

.ria-card .ria-title {
  color: #fafafa;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 2.5rem;
}

.ria-card .ria-description {
  font-size: 0.8rem;
}

.ria-cards {
  width: 45%;
  display: inline-block;
  margin-left: 1rem;
  margin-bottom: 2rem;
  background-color: #fff;
  transition: box-shadow 0.3s;
  border-radius: 2px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  animation-name: display;
  animation-duration: 0.7s;
  /* 갤럭시 탭에 문제 떔에  */
  /* 호버시 그림자 좀더 진하게 */
  /* 카드 하나가 통째로 링크 */
}

@media only screen and (max-width: 690px) {
  .ria-cards {
    width: 95%;
  }
}

.ria-cards:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
}

.ria-cards > a {
  /* 대표이미지 */
}

.ria-cards > a:hover {
  text-decoration: none;
}

.ria-cards > a > img {
  width: 100%;
}

.ria-cards > a > .ria-title {
  padding: 0.65rem;
  box-sizing: border-box;
  border-bottom: 1px solid #E0E0E0;
}

.ria-cards > a > .ria-description {
  text-align: right;
  color: #D2CBCB;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 0.8rem;
}

.ria-nav {
  background-color: #EEEEEE;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1900;
  height: 100%;
  transition-duration: .3s;
  transition-timing-function: ease;
  transition-property: transform;
}

@media only screen and (max-width: 650px) {
  .ria-nav {
    transform: translateX(-250px);
  }
}

@media print {
  .ria-nav {
    display: none;
  }
}

.ria-nav.is-active {
  transform: translateX(0);
  transform-style: preserve-3d;
  will-change: transform;
}

.ria-nav > .ria-wrap {
  min-height: 100%;
  position: relative;
  padding-bottom: 96px;
  box-sizing: border-box;
}

.ria-nav > .ria-wrap > .ria-header {
  padding-top: 1rem;
  box-sizing: border-box;
  background-color: #48C3C3;
}

.ria-nav > .ria-wrap > .ria-header > img {
  border-radius: 50%;
  margin-left: 88px;
  width: 64px;
  height: 64px;
}

.ria-nav > .ria-wrap > .ria-header > a {
  display: block;
  padding: 1rem;
  color: #fafafa;
}

.ria-nav > .ria-wrap > .ria-header > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.ria-nav > .ria-wrap > .ria-header > a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.ria-nav > .ria-wrap > .ria-footer {
  border-top: 1px solid #E0E0E0;
  height: 96px;
  padding: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 240px;
}

.ria-nav > .ria-wrap > .ria-footer a {
  color: #03A9F4;
  display: inline-block;
}

.ria-nav > .ria-wrap > .ria-footer a:hover {
  color: #2979ff;
  text-decoration: underline;
}

/*
 * Text field
 *
*/
.ria-textfield > input {
  position: relative;
  display: block;
  box-sizing: border-box;
  border-bottom: 1px solid #E0E0E0;
  padding: 5px 5px 5px 0;
  width: 100%;
  background: none;
  color: inherit;
  font-size: 1.3rem;
  transition: border-color .2s;
  /* 포커스 상태일떄 다음에있는 형제 label 태그 실선 */
}

.ria-textfield > input:focus {
  border-color: #48C3C3;
  border-width: 2px;
  padding: 5px 5px 4px 0;
}

.ria-textfield.ria-expandable {
  display: none;
  max-width: 0px;
}

.ria-textfield.ria-expandable input:focus {
  border-color: #fafafa;
}

.ria-textfield.ria-expandable.is-active {
  transition: all .3s ease;
  display: inline-block;
  max-width: 170px;
}

/* layout section */
/* fixed 된 menu와 구분 */
.ria-section {
  position: relative;
  margin-left: 240px;
  margin-top: 4rem;
  box-sizing: border-box;
  background-color: #EEEEEE;
  /* 가운데 정렬을 위해 */
}

@media only screen and (max-width: 650px) {
  .ria-section {
    margin-left: 0;
  }
}

.ria-section .ria-wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 4rem 1rem 12rem 1rem;
}

/* appbar */
.ria-appbar {
  min-width: 100%;
  z-index: 30;
  height: 64px;
  line-height: 64px;
  font-size: 1.5rem;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  position: fixed;
  top: 0;
  left: 0;
  background-color: #48C3C3;
}

.ria-appbar > .ria-wrap {
  position: relative;
}

.ria-appbar > .ria-wrap .ria-right {
  float: right;
  margin-right: 1rem;
}

.ria-appbar > .ria-wrap .ria-right .ria-container {
  float: inherit;
}

.ria-appbar .ria-title {
  margin-left: 280px;
  display: inline-block;
}

.ria-appbar .ria-title > a {
  color: #fafafa;
}

@media only screen and (max-width: 650px) {
  .ria-appbar .ria-title {
    margin-left: 20px;
  }
}

.ria-appbar .ria-title.is-active {
  display: none;
}

.ria-appbar .ria-toggle {
  margin-left: 2px;
  display: none;
}

@media only screen and (max-width: 650px) {
  .ria-appbar {
    height: 56px;
    padding-left: 5px;
    margin-left: 0;
    line-height: 56px;
  }
  .ria-appbar .ria-toggle {
    display: inline-block;
  }
}

.ria-btn {
  line-height: normal;
  background: inherit;
  border-radius: 50%;
  padding: 2px;
  font-size: 1.5rem;
  color: #fafafa;
  transition: background-color 0.3s;
}

.ria-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.ria-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

/* nav에 라코디언 루트 > 마스터 > 서브 */
.ria-nav-root {
  list-style: none;
}

.ria-nav-root a {
  transition: background-color 0.3s;
}

.ria-nav-root a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.ria-nav-master {
  list-style: none;
  position: relative;
}

.ria-nav-master > a {
  display: block;
  padding: 12px 46px 12px 12px;
  font-size: 14px;
  font-weight: bold;
}

.ria-nav-master > button {
  position: absolute;
  right: 0;
  top: 0;
  color: inherit;
  font-size: 16px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  transition: 0.3s ease;
}

.ria-nav-master > .ria-nav-sub {
  list-style: none;
  transition: max-height .3s ease;
  max-height: 0px;
  overflow: hidden;
}

.ria-nav-master > .ria-nav-sub > li {
  list-style: none;
}

.ria-nav-master > .ria-nav-sub > li > a {
  display: block;
  padding: 12px 12px 12px 28px;
  font-size: 14px;
}

.ria-nav-master.is-active > ul {
  max-height: 1200px;
  overflow: visible;
}

.ria-nav-master.is-active button {
  transform: rotate(180deg);
}

.ria-markdown h1, .ria-markdown h2, .ria-markdown h3, .ria-markdown h4, .ria-markdown h5, .ria-markdown h6, .ria-markdown p, .ria-markdown blockquote, .ria-markdown img, .ria-markdown hr, .ria-markdown pre {
  display: block;
  margin-bottom: 2rem;
  white-space: normal;
}

.ria-markdown h1, .ria-markdown h2, .ria-markdown h3, .ria-markdown h4, .ria-markdown h5, .ria-markdown h6 {
  line-height: 2rem;
}

.ria-markdown strong, .ria-markdown small {
  display: inline-block;
}

.ria-markdown hr {
  color: #E0E0E0;
}

.ria-markdown img {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}

.ria-markdown h1, .ria-markdown h2, .ria-markdown h3, .ria-markdown h4, .ria-markdown h5, .ria-markdown h6 {
  text-align: start;
}

.ria-markdown code, .ria-markdown kbd, .ria-markdown pre, .ria-markdown samp {
  font-family: Consolas,monospace,"NotoSansKR";
}

.ria-markdown code, .ria-markdown kbd {
  border-radius: 3px;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
}

.ria-markdown kbd {
  color: #fafafa;
  background-color: rgba(0, 0, 0, 0.87);
}

.ria-markdown code {
  color: rgba(0, 0, 0, 0.87);
  background-color: #EEEEEE;
}

.ria-markdown a {
  color: #03A9F4;
  display: inline-block;
}

.ria-markdown a:hover {
  color: #2979ff;
  text-decoration: underline;
}

.ria-markdown ul, .ria-markdown ol {
  margin: 0 0 1.5rem 2rem;
}

.ria-markdown ul ul, .ria-markdown ol ul {
  margin: 0 0 0 1rem;
  list-style: none;
}

.ria-markdown ul ul > li:before, .ria-markdown ol ul > li:before {
  content: "- " !important;
  margin: 0 0.2rem 0 0;
}

.ria-markdown ul li, .ria-markdown ol li {
  line-height: 1.5rem;
}

.ria-markdown ul {
  list-style-type: disc;
}

.ria-markdown ol {
  margin: 0;
  list-style-type: none;
  counter-reset: item;
}

.ria-markdown ol > li {
  display: table;
  counter-increment: item;
  margin: 0;
}

.ria-markdown ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6rem;
}

.ria-markdown ol li li:before {
  content: counters(item, ".") " ";
}

.ria-markdown strong {
  font-weight: bold;
}

.ria-markdown em {
  font-style: italic;
}

.ria-markdown blockquote {
  border-left: 3px solid #48C3C3;
  border-left-width: 10px;
  background-color: #F5F5F5;
  padding: 0.7rem 1rem;
  border-radius: 2px;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
}

.ria-markdown blockquote p {
  margin: 0;
}

.ria-markdown > div {
  margin-bottom: 2rem;
}

.ria-markdown > .wrap {
  color: rgba(0, 0, 0, 0.87);
  background-color: #EEEEEE;
  border-radius: 2px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.ria-markdown > .wrap > pre {
  margin: 0;
}

.ria-markdown > .wrap > code {
  white-space: pre-line;
  display: block;
  font-size: 0.9rem;
}

.ria-markdown > .wrap blockquote {
  background: transparent;
  border: 0px;
  margin-bottom: 0px;
  padding: 0px;
  text-align: center;
  font-size: 1rem;
}

.ria-markdown > .wrap blockquote:before {
  content: '\e82b';
  font-family: "icon";
  margin-right: 1rem;
  font-size: 1rem;
  top: -0.5rem;
  position: relative;
}

.ria-markdown > .wrap blockquote:after {
  content: '\e82c';
  font-family: "icon";
  margin-left: 1rem;
  font-size: 1rem;
  top: -0.5rem;
  position: relative;
}

.ria-markdown > .wrap blockquote > p {
  display: inline-block;
}

.ria-markdown > table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.85rem;
  margin: 0 auto 2rem;
  border: 1px solid #E0E0E0;
}

.ria-markdown > table th {
  text-align: center !important;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.ria-markdown > table tbody tr {
  transition: background .3s ease;
}

.ria-markdown > table tbody tr:hover {
  background: #E0E0E0;
}

.ria-markdown > table td {
  padding: 0.5rem 1rem;
  border-top: 1px solid #E0E0E0;
}

.ria-modal {
  background-color: #f9bdbb;
  color: rgba(0, 0, 0, 0.87);
  padding: 10px;
  display: inline-block;
  z-index: 9999999;
  position: fixed;
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);
  left: 20%;
  top: 20%;
  padding: 100px;
}

.ria-modal .ria-title {
  font-weight: bold;
  font-size: 2.0rem;
  padding-bottom: 40px;
}

/* Hierarchical timing animation */
@keyframes display {
  0% {
    display: none;
    opacity: 0;
  }
  20% {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.ria-dropdown {
  list-style: none;
  line-height: 1rem;
  border-radius: 2px;
  position: absolute;
  right: 2rem;
  top: 3rem;
  transition: all 0.2s ease;
  transform: scale(0);
  opacity: 0;
  transform-origin: top right;
  background-color: #EEEEEE;
  font-size: 1rem;
  text-align: left;
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);
}

.ria-dropdown.is-active {
  transform: scale(1);
  opacity: 1;
}

.ria-dropdown > li {
  display: block;
  width: 100%;
}

.ria-dropdown > li > a, .ria-dropdown > li > button {
  width: 100%;
  padding: 1rem;
  display: inline-block;
  white-space: pre;
  box-sizing: border-box;
}

.ria-dropdown > li > a:hover, .ria-dropdown > li > button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.ria-dropdown > li > a:active, .ria-dropdown > li > button:active {
  background: rgba(0, 0, 0, 0.2);
}

.ria-dropdown > li > a > i, .ria-dropdown > li > button > i {
  margin-right: 1rem;
}

/* tistory.scss
 * 티스토리 내부 치환자 및 내부 CSS 변경을 위한 파일
 * 태그, 툴바, 다른 카테고리등
*/
#tistorytoolbarid {
  display: none;
}

/* 가장 많이 태그된것 */
.cloud1 {
  color: rgba(0, 0, 0, 0.97);
  background-color: #2196F3;
  transform: scale(0);
  animation: display 0.7s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}

.cloud2 {
  color: rgba(0, 0, 0, 0.87);
  background-color: #42A5F5;
  transform: scale(0);
  animation: display 0.7s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation-delay: .4s;
}

.cloud3 {
  color: rgba(0, 0, 0, 0.77);
  background-color: #64B5F6;
  transform: scale(0);
  animation: display 0.7s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation-delay: .8s;
}

.cloud4 {
  color: rgba(0, 0, 0, 0.67);
  background-color: #90CAF9;
  transform: scale(0);
  animation: display 0.7s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation-delay: 1.2s;
}

.cloud5 {
  color: rgba(0, 0, 0, 0.57);
  background-color: #BBDEFB;
  transform: scale(0);
  animation: display 0.7s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation-delay: 1.6s;
}

#post-tags > a {
  padding: 5px 10px;
  background-color: #ECEFF1;
  border-radius: 10%;
  font-size: 0.7rem;
  margin-right: 5px;
  transition: all 0.3s;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

#post-tags > a:before {
  content: "#";
}

#post-tags > a:hover {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}

.another_category {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  border: 0;
}

.another_category h4 {
  color: #F96D6D !important;
}

.another_category a:hover {
  color: #2979ff !important;
}

.another_category tr {
  float: left;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 1rem;
  box-sizing: border-box;
}

@media only screen and (max-width: 650px) {
  .another_category tr {
    width: 90%;
  }
}

.another_category td {
  display: none;
}

.another_category span {
  display: none;
}

.file {
  font-size: 1.5rem;
  text-align: center;
}

.file > a {
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  transition: box-shadow .3s;
}

.file > a:hover {
  color: #2979ff;
  text-decoration: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
}

.file > a:before {
  font-family: icon;
  content: '\e800';
  margin-right: 5px;
  border-right: 1px solid;
  padding-right: 5px;
}

#paging {
  margin: 2rem 0;
  text-align: center;
}

#paging a {
  opacity: 0.6;
  margin: 0 2rem;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 8px;
  color: rgba(0, 0, 0, 0.87);
}

#paging a:hover {
  color: #2979ff;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}

#paging .no-more-prev, #paging .no-more-next {
  color: rgba(0, 0, 0, 0.3);
}

#paging .no-more-prev:hover, #paging .no-more-next:hover {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: none;
  background-color: transparent;
}

.cap1 {
  font-style: italic;
  color: gray;
  margin-top: -1.4rem;
}

.owner {
  margin-right: 2rem;
  color: rgba(0, 0, 0, 0.87) !important;
}

.owner:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  padding: 0.5rem;
  border-radius: 2px;
}

.adkit ins {
  width: 336px !important;
  height: 280px !important;
  display: inline-block !important;
}

@media only screen and (max-width: 400px) {
  .adkit > ins {
    width: 300px !important;
    height: 250px !important;
    display: inline-block !important;
  }
}

@media (min-width: 401px) and (max-width: 650px) {
  .adkit > ins {
    width: 336px !important;
    height: 280px !important;
    display: inline-block !important;
  }
}

@media (min-width: 651px) and (max-width: 728px) {
  .adkit > ins {
    width: 300px !important;
    height: 250px !important;
    display: inline-block !important;
  }
}

#ad-1 {
  text-align: center;
  margin: 3rem 0;
}

#ad-2 {
  text-align: center;
  margin: 3rem 0;
}

#ad-3 {
  text-align: center;
  margin: 1rem 0;
}

.ria-markdown .colorscripter-code {
  font-size: 0.8rem;
}

.ria-markdown .colorscripter-code table {
  display: block;
  overflow: auto;
  max-height: 600px;
}

.inline {
  display: inline-block !important;
  margin: 0 !important;
  box-shadow: none !important;
  vertical-align: middle !important;
}

section {
  min-height: 250px;
}

/* sticky footer를 위해  
 * body를 아래로 밀고 그자리에 고정으로 푸터를 박는 방식
*/
html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #EEEEEE;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

img {
  max-width: 100%;
}

/* 웹폰트 불러오기 */
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: normal;
  src: url(./images/NotoSansKR-DemiLight.woff) format("woff");
}

/* 초기화 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  overflow-x: hidden;
  line-height: 1.5rem;
  font-family: "NotoSansKR", malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, Microsoft NeoGothic, Droid sans, sans-serif;
}

img, fieldset {
  border: 0;
}

a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

input, button, textarea {
  border: 0;
  outline: none;
  font-family: "NotoSansKR", malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, Microsoft NeoGothic, Droid sans, sans-serif;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1rem;
}

strong {
  font-weight: bold;
}

small {
  font-size: 0.8rem;
}

em {
  font-style: italic;
}

/* 작은 화면은 글자 크기 감소 */
@media only screen and (max-width: 420px) {
  html, body {
    font-size: 14px;
  }
}

/* 검색폼 */
/* 카태고리 검색결과 */
#counter {
  margin: 0 0 50px 40px;
}

/* 중간에 위치 아 빢침 ㅋcenter */
#password {
  padding: 10px;
}

#password > input {
  max-width: 200px;
  margin: 1rem auto;
}

/* 게시글 더 로드 하는 버튼 */
#more {
  margin-top: 4rem;
  text-align: center;
}

#more > hr {
  width: 70%;
  border: 1px solid #E0E0E0;
  margin-bottom: 2rem;
}

#more > button {
  font-size: 2.5rem;
  color: #48C3C3;
  padding: 0.5rem 1rem;
  background: transparent;
  line-height: inherit;
  transition: box-shadow 0.3s;
}

#more > button:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
}

.tab {
  font-size: 1.5rem;
  width: 50%;
  /* 댓글과 공유 2개니 50%로 2개 꽉차게 지정 */
}

/* 본문 헤더 영역  */
#post-header {
  background-color: #FF9800;
  color: #fafafa;
}

#post-header a {
  color: #fafafa;
}

#post-header a:hover {
  color: rgba(0, 0, 0, 0.87);
}

/* guestbook about */
#about {
  margin-bottom: 3rem;
}

#about > header {
  background-color: #00BCD4;
}

/* 보호글 */
.secret > header {
  background-color: #F50057;
  /* 포스트 본문에도 활용 가능할듯  */
}

.secret > header a {
  color: #fafafa;
  font-size: 1.3rem;
  font-weight: bold;
}

/*tags tile wrapper로 작성하자 */
#dashboard > header {
  background-color: #2196F3;
}

#dashboard .ria-tile {
  display: inline-table;
}

#dashboard .ria-tile li {
  list-style: none;
  display: inline-table;
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

#dashboard .ria-tile li > a {
  padding: 8px;
  display: inline-table;
}

#dashboard .ria-tile li > a:hover {
  text-decoration: none;
  color: #fafafa;
}

abbr {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.87);
}

#tooltip {
  text-align: left;
  color: #F5F5F5;
  background: #6F6F6F;
  position: absolute;
  z-index: 9999;
  padding: 4px 10px;
  border-radius: 3px;
  white-space: normal;
  font-size: 0.8rem;
}

#tooltip:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #6F6F6F;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
}

#tooltip.top:after {
  border-top-color: transparent;
  border-bottom: 10px solid #6F6F6F;
  top: -20px;
  bottom: auto;
}

#tooltip.left:after {
  left: 10px;
  margin: 0;
}

#tooltip.right:after {
  right: 10px;
  left: auto;
  margin: 0;
}

/*공유 탭*/
#share {
  font-size: 2rem;
  text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 2rem 0;
  white-space: nowrap;
  /*   a[data-share='facebok'] {
    color:#3f729b;
    인스타그램은 아직 공유기능이 없다
  } */
}

#share a[data-share='facebook'] {
  color: #3b5998;
}

#share a[data-share='facebook']:hover {
  color: gray;
  cursor: pointer;
}

#share a[data-share='twitter'] {
  color: #4099ff;
}

#share a[data-share='twitter']:hover {
  color: gray;
  cursor: pointer;
}

#share a[data-share='googleplus'] {
  color: #dc4e41;
}

#share a[data-share='googleplus']:hover {
  color: gray;
  cursor: pointer;
}

#share a[data-share='linkedin'] {
  color: #007bb5;
}

#share a[data-share='linkedin']:hover {
  color: gray;
  cursor: pointer;
}

#share a[data-share='print'] {
  color: #3b5998;
}

#share a[data-share='print']:hover {
  color: gray;
  cursor: pointer;
}

/* 폰텔로 테스트용 폰트  */
@font-face {
  font-family: 'icon';
  src: url("./images/icon7.woff?38823318") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  opacity: .8;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download-alt:before {
  content: '\e800';
}

/* '' */
.icon-github-circled:before {
  content: '\e801';
}

/* '' */
.icon-bitbucket:before {
  content: '\e802';
}

/* '' */
.icon-youtube-play:before {
  content: '\e803';
}

/* '' */
.icon-twitter:before {
  content: '\e804';
}

/* '' */
.icon-facebook-official:before {
  content: '\e805';
}

/* '' */
.icon-slideshare:before {
  content: '\e806';
}

/* '' */
.icon-skype:before {
  content: '\e807';
}

/* '' */
.icon-gplus:before {
  content: '\e808';
}

/* '' */
.icon-search:before {
  content: '\e809';
}

/* '' */
.icon-menu:before {
  content: '\e80a';
}

/* '' */
.icon-ellipsis:before {
  content: '\e80b';
}

/* '' */
.icon-ellipsis-vert:before {
  content: '\e80c';
}

/* '' */
.icon-mail:before {
  content: '\e80d';
}

/* '' */
.icon-print:before {
  content: '\e80e';
}

/* '' */
.icon-pencil:before {
  content: '\e80f';
}

/* '' */
.icon-lock:before {
  content: '\e810';
}

/* '' */
.icon-cancel:before {
  content: '\e811';
}

/* '' */
.icon-down-open:before {
  content: '\e812';
}

/* '' */
.icon-left-open:before {
  content: '\e813';
}

/* '' */
.icon-right-open:before {
  content: '\e814';
}

/* '' */
.icon-up-open:before {
  content: '\e815';
}

/* '' */
.icon-copyright:before {
  content: '\e816';
}

/* '' */
.icon-chat-empty:before {
  content: '\e817';
}

/* '' */
.icon-share:before {
  content: '\e818';
}

/* '' */
.icon-language:before {
  content: '\e819';
}

/* '' */
.icon-up:before {
  content: '\e81a';
}

/* '' */
.icon-wrench:before {
  content: '\e81b';
}

/* '' */
.icon-th:before {
  content: '\e81c';
}

/* '' */
.icon-block:before {
  content: '\e81d';
}

/* '' */
.icon-linkedin-squared:before {
  content: '\e81e';
}

/* '' */
.icon-instagram:before {
  content: '\e81f';
}

/* '' */
.icon-help-1:before {
  content: '\e820';
}

/* '' */
.icon-stackoverflow:before {
  content: '\e821';
}

/* '' */
.icon-folder-open-empty:before {
  content: '\e822';
}

/* '' */
.icon-folder-empty:before {
  content: '\e823';
}

/* '' */
.icon-folder-open:before {
  content: '\e824';
}

/* '' */
.icon-folder:before {
  content: '\e825';
}

/* '' */
.icon-star:before {
  content: '\e826';
}

/* '' */
.icon-star-empty:before {
  content: '\e827';
}

/* '' */
.icon-heart:before {
  content: '\e828';
}

/* '' */
.icon-heart-empty:before {
  content: '\e829';
}

/* '' */
.icon-ok:before {
  content: '\e82a';
}

/* '' */
.icon-quote-left:before {
  content: '\e82b';
}

/* '' */
.icon-quote-right:before {
  content: '\e82c';
}

/* '' */
.icon-code:before {
  content: '\e82d';
}

/* '' */
.icon-info:before {
  content: '\e82e';
}

/* '' */
.icon-user:before {
  content: '\e82f';
}

/* '' */
.icon-info-circled:before {
  content: '\e830';
}

/* '' */
.icon-help-circled:before {
  content: '\e831';
}

/* '' */
.icon-attention-circled:before {
  content: '\e832';
}

/* '' */
.icon-attention:before {
  content: '\e833';
}

/* '' */
.icon-bookmark-empty:before {
  content: '\e834';
}

/* '' */
.icon-bookmark:before {
  content: '\e835';
}

/* '' */
.icon-flag:before {
  content: '\e836';
}

/* '' */
.icon-flag-empty:before {
  content: '\e837';
}

/* '' */
.icon-gplus-squared:before {
  content: '\e838';
}

/* '' */
.icon-cog:before {
  content: '\e839';
}

/* '' */
.icon-cog-alt:before {
  content: '\e83a';
}

/* '' */
.icon-layout:before {
  content: '\e83b';
}

/* '' */
.icon-th-thumb:before {
  content: '\e83c';
}

/* '' */
.icon-th-large:before {
  content: '\e83d';
}

/* '' */
